# Java and Spring Boot
target/
*.class

# Intellij IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/
settings.json
tasks.json
launch.json

# React
node_modules/
public/build/
coverage/

# TypeScript
*.tsconfig.json

# Vite
dist/

#Custom
Lab4TPS/